.blogs-link{
  text-decoration: none;
  color: #16194F;
  margin-left: auto;
  margin-right: auto;
}
.blogItem-wrap {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 20px;
  transition: 0.25s;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

.blogItem-wrap:hover{
  
  box-shadow: 0px 2px 16px 0px rgb(189, 188, 188);
}
.blogItem-cover {
  width: 100%;
  max-width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}
.blogItem-cover2 {
  transform: scale(0.4);
  width: 300px;
  height: 300px;
  margin: auto;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.bloglinks a{
  text-decoration: none;
}
.blogItem-wrap h3 {
  margin: 0.5rem 0 1rem 0;
  flex:1;
  text-decoration: none;
}

.blogItem-desc {
  position: relative;
  max-height: 60px;
  overflow: hidden;
  font-size: 0.8rem;
  padding-right: 0.6rem;
  color: #a9a9a9;
}

.blogItem-desc::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 0;
}

.blogItem-wrap footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}
.blogItem-link {
  text-decoration: none;
  color: inherit;
}
.blogItem-author {
  display: flex;
  align-items: center;
}

.blogItem-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}
.blogItem-author p{
     font-size: 0.8rem;
     color: #a9a9a9;
     font-weight: 600;
}